<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= userName %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="menu">
      <h1 id="shoppingMallName">SWIM</h1>
      <form action="/main/logout" method="post">
        <button id="logout_bt">로그아웃</button>
      </form>
      <h2 id="userName"><%= userName %></h2>
      <a id="goShopping" href="/shop">shop</a>
    </div>
    
    <div id="desc">
      <h1>2023/2/5/일요일 업뎃내용</h1>
      <p>
        상품세부설명&&간단설명나눔<br>
        상품이름 클릭가능
        <%= userName %> ㅋㅋ <%= userName %>
      </p>
    </div>
    
    <div id="desc">
      <h1>관리자페이지 완성</h1>
      <p>
        shop클릭 가능<br>
        <%= userName %> 반갑다 ㅋ
      </p>
    </div>
    
    <div id="desc">
      <a href="https://instagram.com/_.suy.kr">오류&&개선사항 제보 하러가기</a><br>
      <a href="https://github.com/swim0413/shopping">사이트 코드 보러가기</a>
    </div>
  </body>
  <style>
    body{
      background-color: black;
      color: white;
    }

    #menu > *{
      display: inline-block;
      margin: auto;
      margin-top: 10px;
    }
    #menu #shoppingMallName{
      float: left;
    }
    #logout_bt, #goShopping, #userName{
      float: right;
      margin-left: 20px;
      text-decoration: none;
      color: white;
    }

    #desc{
      clear:both;
      width: 50%;
      margin: auto;
      background-color: gray;
      text-align: center;
      border-radius: 10px;
      width: fit-content;
      height: fit-content;
      padding: 20px;
      margin-top: 100px;
    }

    #logout_bt{
      border: none;
      background-color: black;
      font-size: 12px;
    }
    #logout_bt:hover{
      border: 1px solid white;
      border-radius: 10px;
    }

    #shoppingMallName{
      background-image: linear-gradient(90deg, red, orange, yellow, green, blue, navy, purple);
      -webkit-background-clip: text;
      color: transparent;
    }

    a{
      color: greenyellow;
      text-decoration: none;
    }
  </style>
</html>
