<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= userName %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="menu">
      <h1 id="shoppingMallName"><a href="/">SWIM</a></h1>
      <form action="/main/logout" method="post">
        <button id="logout_bt">로그아웃</button>
      </form>
      <h2 id="userName"><%= userName %></h2>
      <a id="goShopping" href="/shop">shop</a>
    </div>
    <h1>products list</h1>
    <% for(var i = 0; i < products.length; i++){ %>
        <div id="product">
            <h2 id="title"><a href="shop?product=<%=products[i]._id%>"><%=products[i].title%></a></h2>
            <img src=<%=products[i].base64_img%> alt=<%=JSON.stringify(products[i].title)%> id="product_img">
            <p id="price"><%=products[i].price%>원</p>
            <p id="product_desc"><%=products[i].desc%></p>
        </div>
    <% } %>
  </body>
  <style>
    body{
      background-color: black;
      color: white;
    }

    #product{
        border: 1px solid white;
        width: fit-content;
        height: fit-content;
        border-radius: 10px;
        display: inline-block;
        margin: 10px;
        text-align: center;
    }

    #product img{
        width: 200px;
        height: 200px;
    }

    #menu > *{
      display: inline-block;
      margin: auto;
      margin-top: 10px;
    }
    #menu #shoppingMallName{
      float: left;
    }
    #logout_bt, #goShopping, #userName{
      float: right;
      margin-left: 20px;
      text-decoration: none;
      color: white;
    }

    #logout_bt{
      border: none;
      background-color: black;
      font-size: 12px;
    }
    #logout_bt:hover{
      border: 1px solid white;
      border-radius: 10px;
    }

    #shoppingMallName a{
      background-image: linear-gradient(90deg, red, orange, yellow, green, blue, navy, purple);
      -webkit-background-clip: text;
      color: transparent;
    }

    a{
      text-decoration: none;
      color: white;
    }
  </style>
</html>
